.header {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: #000000;
}

.logo {
  text-align: center;
}

.logo img {
  width: calc(100% - 60%);
  object-fit: contain;
  margin-top: -5px;
}

.logo h5 {
  font-weight: 600;
  font-size: 1rem;
  color: #212245;
  margin-top: -40px;
  margin-bottom: 0;
}

.menu a,
.cart__icon i,
.user i,
.mobile__menu i {
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
}

.menu a:hover {
  color: #df2020;
}

.active__menu {
  color: #df2020 !important;
}

.cart__icon {
  position: relative;
}

.cart__badge {
  position: absolute;
  top: 30px;
  right: -10px;
  background: #df2020;
  color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile__menu {
  font-weight: 600;
  display: none;
}

.header__shrink {
  position: sticky;
  top: 0;
  left: 0;
  background: #000000;
  z-index: 99999;
  box-shadow: 5px 5px 15px -5px #fde4e4;
}

@media only screen and (max-width: 992px) {
  .logo img {
    width: calc(100% - 70%);
  }
  .logo h5 {
    font-size: 0.8rem;
    margin-top: -15px;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.425);
    z-index: 99;
    display: none;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: rgb(255, 183, 0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    line-height: 20px;
  }

  .menu a {
    font-size: 0.9rem;
  }

  .mobile__menu {
    display: block;
  }

  .cart__icon i,
  .user i,
  .mobile__menu i {
    font-size: 1rem;
  }

  .show__menu {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 80px;
    line-height: 80px;
  }

  .logo img {
    margin-top: -70px !important;
  }
  .logo h5 {
    margin-top: -55px;
  }
}

/* Add these styles to your existing CSS file */

/* Side Panel */
.side-panel {
  position: fixed;
  top: 0;
  right: -300px; /* Initially hidden on the right side */
  width: 200px;
  height: 100%;
  background-color: #fff; /* Set your preferred background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: right 0.3s ease; /* Smooth slide-in animation */
}

.side-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  padding-left: 15px;
}

.side-panel li {
  line-height: 40px;
}

.side-panel a {
  text-decoration: none;
  color: #000000; /* Set your preferred text color */
  font-size: 16px;
}

.side-panel a:hover {
  color: #007bff; /* Set your preferred hover color */
}

/* Side Panel Icon */
.side-panel-icon {
  cursor: pointer;
}

/* Adjust this to set the icon's position on the header */
.side-panel-icon i {
  font-size: 24px;
  color: #ffffff; /* Set your preferred icon color */
  transition: transform 0.3s ease; /* Add a transform animation when clicked */
}

/* Rotate the icon when the side panel is open */
.side-panel.open .side-panel-icon i {
  transform: rotate(180deg);
}

.header.side-panel-open .side-panel {
  right: 0; /* Show the side panel */
}

.close-panel-button {
  background: #df2020;
  color: #fff;
  border: none;
  padding: 5px;
  width: 30px; /* Set the desired width for a square button */
  height: 30px; /* Set the same height as the width for a square button */
  font-size: 10px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.close-panel-button:hover {
  background: #ff4040;
}

@media only screen and (max-width: 992px) {
  .logo img {
    width: calc(100% - 70%);
    margin-left: -80px;
    padding-top: 45px;
  }
  .logo h5 {
    font-size: 0.8rem;
    margin-top: -15px;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.425);
    z-index: 99;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    line-height: 20px;
    display: none;
  }

  .menu a {
    font-size: 0.9rem;
  }

  .mobile__menu {
    display: block;
    font-size: 1rem;
    background: rgba(240, 240, 240, 0); /* Change this color to your preferred background color */
  }

  .cart__icon i,
  .user i,
  .mobile__menu i {
    font-size: 1rem;
  }

  .show__menu {
    display: flex;
  }
}
